{{#each games}}
   {{!-- <h2>Away: {{dataValues.away}}</h2> --}}
   {{!-- <h4>Home: {{dataValues.home}}</h4> --}}
   {{!-- <h6>Date and Time: {{dataValues.dateandtime}}</h6> --}}
   <div class="card" style="width: 18rem;">
   <div class="card-body">
    <h5 class="card-title">Away: {{dataValues.away}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Home: {{dataValues.home}}</h6>
    <p class="card-text">Date and Time: {{dataValues.dateandtime}}</p>
    </div>
    </div>
  {{/each}}